h1,
h2,
h3,
h4,
p,
ul {
  margin: 0 0;
  padding: 0 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1376px;
  margin: auto;
}

.header {
  position: absolute;
  padding-top: 31px;
  width: 100%;
}

.header-container {
  display: grid;
  grid-template-columns: 216px 1fr 272px;
}

.logo {
  display: grid;
  align-content: center;
}

.user {
  display: grid;
  justify-content: end;
}

nav {
  display: grid;
  align-content: center;
}

.nav-list {
  display: grid;
  gap: 0 54px;
  align-items: center;
  grid-template-columns: repeat(7, auto);
  justify-content: center;
}

.mob-menu {
  display: none;
}

.banner {
  background-image: url("../images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 0px 54px 54px;
  padding-bottom: 100px;
}

h1,
.button-button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

h1 {
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  padding: 184px 0 32px;
}

h2 {
  padding: 120px 0 64px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #161414;
}

.button {
  background: #7b61ff;
  border-radius: 12px;
  border: none;
}

.button-button {
  position: relative;
  display: block;
  justify-content: center;
  margin: 0 auto 184px auto;
  padding: 24px 0 24px 30px;
  width: 273px;
  height: 72px;
  font-size: 16px;
  line-height: 1.4;
}

.button-button::before {
  content: url("../images/earth.svg");
  position: absolute;
  left: 11%;
  top: 35%;
}

.button-button:hover {
  background: rgba(0, 0, 0, 0);
  color: white;
  box-shadow: inset 0 0 0 3px white;
}

.button-button:active {
  background: #2b2bb9;
}

.nav-item {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #ffffff;
}

.fon {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 60px;
  align-items: center;
  padding: 8px;
  max-width: 1140px;
  height: 88px;
  background: #ffffff;
  border-radius: 12px;
  margin: 0 auto;
}

.button-find {
  padding: 18px;
  gap: 8px;
  width: 60px;
  height: 60px;
}

.button-find:hover {
  background-color: #534d4d;
}

.button-find:active {
  background: #2b2bb9;
}

.icon {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  padding: 0 16px;
  gap: 16px;
  background: #ffffff;
  border-radius: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.1;
  color: #5b5b5b;
}

.icon1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
  color: #161414;
}

input {
  border: none;
  width: 100%;
}

.popular {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 32px;
}

.text {
  padding-top: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #161414;
}

.text1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #979797;
}

.hotels {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 32px;
}

.map {
  display: grid;
  grid-template-columns: 16px 1fr 88px;
  gap: 4px;
}

.but {
  display: grid;
  grid-template-columns: 1fr 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 4px;
  background: #f6f4ff;
  border-radius: 12px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5243c2;
}

.but-but1 {
  position: relative;
  margin: 120px 0 64px 0;
  width: 105px;
  height: 44px;
}

.but-but1::after {
  content: url("../images/arrow-right-line.svg");
  position: absolute;
  left: 70%;
  top: 28%;
}

.but-but1:hover {
  background: rgba(0, 0, 0, 0);
  color: rgb(12, 12, 12);
  box-shadow: inset 0 0 0 3px rgb(20, 20, 20);
}

.but-but1:active {
  background: #8f8f94;
}

.h2 {
  display: grid;
  grid-template-columns: 1fr 105px;
  align-content: center;
}

.travel {
  display: grid;
  grid-template-columns: 320px 1fr 320px 1fr;
  column-gap: 32px;
}

.travel-text {
  display: grid;
  align-content: space-between;
}

.travel-text1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #161414;
  padding-bottom: 16px;
}

.travel-text2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #5b5b5b;
}

.travel-text3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #878787;
  display: grid;
  grid-template-columns: 16px 1fr 16px 2fr 16px 1fr;
  gap: 4px;
}

.activities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 32px;
}

.activities-text {
  padding-top: 16px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #161414;
}

.aboutcontainer {
  max-width: 1144px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  padding: 120px 0;
}

h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #161414;
}

.h3 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #5b5b5b;
}

.but-but2 {
  position: relative;
  width: 133px;
  height: 44px;
}

.but-but2::after {
  content: url("../images/arrow-right-line.svg");
  position: absolute;
  left: 80%;
  top: 28%;
}

.but-but2:hover {
  background: rgba(0, 0, 0, 0);
  color: rgb(12, 12, 12);
  box-shadow: inset 0 0 0 3px rgb(20, 20, 20);
}

.but-but2:active {
  background: #8f8f94;
}

.aboutleft {
  display: grid;
  row-gap: 32px;
  align-content: center;
}

footer {
  background: #f6f4ff;
  padding: 120px 0;
}

.footercontainer {
  max-width: 1376px;
  margin: auto;
  display: grid;
  grid-template-columns: 388px 1fr 388px;
  column-gap: 64px;
}

.text-blok1 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #5b5b5b;
  padding-top: 16px;
  padding-bottom: 32px;
}

.allicon {
  display: grid;
  grid-template-columns: repeat(3, 32px);
  column-gap: 32px;
}

.blok2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 64px;
}

h4 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 20px;
}

.li {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: #5b5b5b;
}

.li:not(:first-child) {
  padding-top: 12px;
}

.send {
  display: grid;
  grid-template-columns: 24px 260px 72px;
  column-gap: 16px;
}

.letter {
  margin: auto 0;
}

.form {
  display: grid;
  align-content: center;
}

.email {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #5b5b5b;
  background: #f6f4ff;
}

.email1 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #161414;
}

.button-arrow {
  padding: 24px;
  gap: 8px;
  width: 72px;
  height: 72px;
}

.button-arrow:hover {
  background-color: #534d4d;
}

.button-arrow:active {
  background: #2b2bb9;
}

.header_burger {
  display: none;
}

@media screen and (max-width: 767px), (max-width: 1023px) {
  .container {
    max-width: 700px;
  }

  .nav-list {
    display: none;
  }

  .mob-menu {
    display: block;
  }

  .mob-menu span {
    height: 2px;
    width: 24px;
    background-color: white;
    display: block;
    margin-bottom: 5px;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 30px;
  }

  h1 {
    font-size: 31px;
    line-height: 40px;
    text-align: center;
    padding: 300px 0 32px;
  }

  .fon {
    max-width: 700px;
    margin: auto;
  }

  .icon {
    gap: 8px;
    font-size: 10px;
    line-height: 1.1;
    padding: 0;
  }

  .icon:first-child {
    padding: 0px 0px 0px 8px;
  }

  .icon1 {
    font-size: 11px;
    line-height: 1.6;
  }

  .popular {
    grid-template-columns: repeat(3, auto);
  }

  .hotels {
    grid-template-columns: repeat(2, auto);
  }

  .travel {
    grid-template-columns: 320px 1fr;
    grid-auto-rows: auto;
    row-gap: 32px;
  }

  .activities {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 32px;
  }

  .aboutcontainer {
    max-width: 700px;
  }

  .footercontainer {
    max-width: 400px;
    grid-template-columns: 1fr;
    row-gap: 64px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 355px;
  }

  .nav-list {
    display: none;
  }

  .mob-menu {
    display: block;
  }

  .mob-menu span {
    height: 2px;
    width: 24px;
    background-color: white;
    display: block;
    margin-bottom: 5px;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 30px;
  }

  h1 {
    font-size: 31px;
    line-height: 40px;
    text-align: center;
    padding: 300px 0 32px;
  }

  .fon {
    max-width: 355px;
    height: auto;
    grid-template-columns: repeat(2, auto);
    column-gap: 16px;
    row-gap: 16px;
    margin: auto;
  }

  .icon {
    gap: 8px;
    font-size: 14px;
    padding: 0;
  }

  .icon:first-child {
    padding: 0;
  }

  .icon1 {
    font-size: 15px;
  }
  .but-find {
    display: grid;
    grid-area: 3/1/4/3;
    justify-content: center;
  }

  .popular {
    grid-template-columns: auto;
    justify-content: center;
  }

  .hotels {
    grid-template-columns: auto;
  }

  .hotels img {
    margin: auto;
  }

  .travel {
    grid-template-columns: auto;
    justify-content: center;
  }

  .travel img {
    margin: auto;
  }

  .activities {
    grid-template-columns: auto;
    justify-content: center;
  }

  .aboutcontainer {
    max-width: 355px;
    grid-template-columns: auto;
  }

  .aboutleft {
    margin-bottom: 32px;
  }

  .footercontainer {
    max-width: 355px;
    grid-template-columns: 1fr;
    row-gap: 64px;
  }

  .blok2 {
    column-gap: 8px;
  }

  .li {
    font-size: 11px;
  }

  .send {
    grid-template-columns: 24px 200px 72px;
  }
}
